@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    @apply font-Poppins w-screen;
    max-width: 100vw;
    overflow-x: hidden;
}

h1 {
    @apply text-6xl;
}

h2 {
    @apply text-4xl;
}

button {
    @apply self-start py-4 px-9 rounded-md uppercase font-bold text-sm;
}